/* RE-MAKING DEFAULT VALUES TO THIS ELEMENTS */
h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent 
}
/* END */

body {
  font-family : 'Source Sans Pro', sans-serif;
}
/* header styling */
header {
    text-align: center ;
    background: #2c3e50; 
    background: -webkit-linear-gradient(left top, #34495e, #16a085);
    background: -o-linear-gradient(bottom right, #34495e, #16a085); 
    background: -moz-linear-gradient(bottom right, #34495e #16a085); 
    background: linear-gradient(to bottom right, #34495e, #16a085); 
}
header ul {
    padding : 1% ;
    padding-bottom: -1% ;
}
header ul li {
    float : left;
    list-style-type: none ;
    margin-right: 5% ;
    margin-top : 0.5% ;
    margin-bottom: 0%; 
    font-size : 150% ;
    border-radius: 5px ;
    color : #95a5a6 ;
}
header ul li:hover {
    color : white ;
}
.first_li {
    margin-left : 2% ;
    margin-top : 0.001% ;
    font-size: 250% ;
    border : none ;
    color : white ;
}
header ul li a {
    color : white ;
    color: inherit; 
    text-decoration: inherit;
}
/* END of header styling  */ 

#about {
    text-align: center ; 
    background: #16a085; 
    background: -webkit-linear-gradient(left, #107360, #38e4c3);
    background: -o-linear-gradient(right, #107360, #38e4c3); 
    background: -moz-linear-gradient(right, #107360 #38e4c3); 
    background: linear-gradient(to right, #107360, #38e4c3);
    padding : 5% ; 
    margin-top : -2% ; 
}
#about img {
    border-radius : 10px ;
    filter : grayscale(100%) ;
    border : 4px white solid ;
}
#about img:hover {
    border-radius : 10px ;
    filter : none ;
}
#about p {
    font-size: 150% ;
    text-align: left; 
    color : white ;
}
#about p #name {
    font-size : 200% ;
    font-weight: bold ;
}
/* FOOTER STYLING */
footer {
    background: #2c3e50; 
    background: -webkit-linear-gradient(left, #22303d, #4f6f8f);
    background: -o-linear-gradient(right, #22303d, #4f6f8f); 
    background: -moz-linear-gradient(right, #22303d , #4f6f8f); 
    background: linear-gradient(to right, #22303d, #4f6f8f);  
    text-align: center ;
    margin-top : 5% ;
}
footer img {
    margin :1% ;
    width : 5%
}
/* END of footer styling */