body {
  font-family : 'Open Sans Condensed', sans-serif;
}
/* header styling */
header {
    text-align: center ;
    background: #2c3e50; 
    background: -webkit-linear-gradient(left top, #34495e, #16a085);
    background: -o-linear-gradient(bottom right, #34495e, #16a085); 
    background: -moz-linear-gradient(bottom right, #34495e #16a085); 
    background: linear-gradient(to bottom right, #34495e, #16a085); 
    /* box-shadow : 0px 20px 5px #16a085 ; */
}
header ul {
    padding : 1% ;
    padding-bottom: -1% ;
}
header ul li {
    float : left;
    list-style-type: none ;
    margin-right: 5% ;
    margin-top : 0.5% ;
    margin-bottom: 0%; 
    font-size : 150% ;
    border-radius: 5px ;
    color : white ;
}

.first_li {
    margin-left : 2% ;
    margin-top : 0.001% ;
    font-size: 250% ;
    border : none ;
    color : white ;
    font-family: 'Fjalla One' , sans-serif ;
}
header ul li a {
    color : white ;
    color: inherit; 
    text-decoration: inherit;
}
/* END of header styling  */ 

/* about styling */
#about {
    text-align: center ; 
    background: #16a085; 
    background: -webkit-linear-gradient(left, #107360, #38e4c3);
    background: -o-linear-gradient(right, #107360, #38e4c3); 
    background: -moz-linear-gradient(right, #107360 #38e4c3); 
    background: linear-gradient(to right, #107360, #38e4c3);
    padding : 5% ; 
    margin-top : -1.5% ; 
}
#about img {
    border-radius : 10px ;
    filter : grayscale(100%) ;
    border : 4px white solid ;
}
#about img:hover {
    border-radius : 10px ;
    filter : none ;
}
#about p {
    font-size: 150% ;
    text-align: left; 
    color : white ;
}
#about p #name {
    font-size : 180% ;
    font-weight: bold ;
    font-family: 'Fjalla One' , sans-serif ;
}
/* END of About section styling */

/* Skills styling*/
#skills {
    background: #8e44ad;    
    background: -webkit-linear-gradient(left top, #38e4c3, #8e44ad);
    background: -o-linear-gradient(bottom right, #38e4c3, #8e44ad); 
    background: -moz-linear-gradient(bottom right, #38e4c3 #8e44ad); 
    background: linear-gradient(to bottom right, #38e4c3, #8e44ad);
    margin-top : -2% ;
    color : white ;
}
#skills #first_p{
    font-size : 200% ;
    font-weight : bold ;
    padding-bottom : 4% ;
    padding-top : 2% ;
}
#skills p:not(#first_p) {
    color : white ;
    font-weight : bold ;
    font-size: 130% ;
}
#skills div:not(.col-md-12){
    margin-bottom : 3% ; 
    margin-top : 3% ; 
} 
#skills .col-md-12 {
    margin-bottom : -3% ;
}
/* END of Skills styling */
/* PROJECTS styling */
#projects {
    background: #8e44ad;    
    background: -webkit-linear-gradient(left top, #a563c1, #2c3e50);
    background: -o-linear-gradient(bottom right, #a563c1, #2c3e50); 
    background: -moz-linear-gradient(bottom right, #a563c1 #2c3e50); 
    background: linear-gradient(to bottom right, #a563c1, #2c3e50);
    color : white ;

}


/* END PROJECTS styling */
/* FOOTER STYLING */
footer {
    background: #2c3e50; 
    background: -webkit-linear-gradient(left, #22303d, #4f6f8f);
    background: -o-linear-gradient(right, #22303d, #4f6f8f); 
    background: -moz-linear-gradient(right, #22303d , #4f6f8f); 
    background: linear-gradient(to right, #22303d, #4f6f8f);  
    text-align: center ;
    margin-top : 5% ;
}
footer img {
    margin :1% ;
    width : 5%
}
/* END of footer styling */
